<div align="center" style="padding-top: 20px;" fxHide.xs fxHide.sm="true">
  <h1 class="heading" fxShow.xs fxHide.gt-xs style="font-size: 13pt;">
    Skills
  </h1>
</div>

<div align="center">
  <h1>Skills</h1>
</div>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
  <div fxFlex.gt-sm="5" fxFlex.lt-sm="100"></div>
  <div fxFlex.gt-sm="40" fxFlex.lt-sm="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img mat-card-image [src]="bg" />
    </div>
  </div>
  <div fxFlex.gt-sm="1" fxFlex.lt-sm="100"></div>
  <div fxFlex.gt-sm="40" fxFlex.lt-sm="100">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>HTML5</mat-label>
      </div>
      <div fxFlex="75">
        <div class="html"></div>
      </div>
      <div fxFlex="5">
        <mat-label>95%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Bootstrap</mat-label>
      </div>
      <div fxFlex="75">
        <div class="bootstrap "></div>
      </div>
      <div fxFlex="5">
        <mat-label>93%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>CSS3</mat-label>
      </div>
      <div fxFlex="75">
        <div class="css "></div>
      </div>
      <div fxFlex="5">
        <mat-label>92%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>PHP Laravel</mat-label>
      </div>
      <div fxFlex="75">
        <div class="laravel"></div>
      </div>
      <div fxFlex="5">
        <mat-label>85%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Angular JS</mat-label>
      </div>
      <div fxFlex="75">
        <div class="angular"></div>
      </div>
      <div fxFlex="5">
        <mat-label>75%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Angular Material</mat-label>
      </div>
      <div fxFlex="75">
        <div class="angular_material"></div>
      </div>
      <div fxFlex="5">
        <mat-label>75%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>MySql</mat-label>
      </div>
      <div fxFlex="75">
        <div class="mysql"></div>
      </div>
      <div fxFlex="5">
        <mat-label>73%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>MangoDB</mat-label>
      </div>
      <div fxFlex="75">
        <div class="mango_db"></div>
      </div>
      <div fxFlex="5">
        <mat-label>73%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Firebase</mat-label>
      </div>
      <div fxFlex="75">
        <div class="firebase"></div>
      </div>
      <div fxFlex="5">
        <mat-label>73%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Semantic UI</mat-label>
      </div>
      <div fxFlex="75">
        <div class="semantic_ui"></div>
      </div>
      <div fxFlex="5">
        <mat-label>70%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Materialize CSS</mat-label>
      </div>
      <div fxFlex="75">
        <div class="materialize_css"></div>
      </div>
      <div fxFlex="5">
        <mat-label>70%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Java</mat-label>
      </div>
      <div fxFlex="75">
        <div class="java"></div>
      </div>
      <div fxFlex="5">
        <mat-label>45%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>C#</mat-label>
      </div>
      <div fxFlex="75">
        <div class="C_SHARP"></div>
      </div>
      <div fxFlex="5">
        <mat-label>45%</mat-label>
      </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="20">
        <mat-label>Python</mat-label>
      </div>
      <div fxFlex="75">
        <div class="python"></div>
      </div>
      <div fxFlex="5">
        <mat-label>40%</mat-label>
      </div>
    </div>
    <hr>
  </div>
</div>
