<div align="center">
  <h1 class="heading" style="font-size: 13pt;">
    Published Articles
  </h1>
</div>

<div class="jumbotron bg-light bg style-work-image hide">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-6 col-sm-12" fxShow.lt-sm="true" fxHide.gt-sm="true">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-0"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 mx-3 ">
          <div fxFlexAlign.fxFlexAlign.gt-sm="center">
            <img mat-card-image [src]="bg" class="style-work-image" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" fxHide.lt-sm="true">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-0"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 mx-3 ">
          <div fxFlexAlign.fxFlexAlign.gt-sm="center">
            <img mat-card-image [src]="bg" class="style-work-image" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



<mat-card-content fxHide.gt-xs>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Angular</ng-template>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>PHP Laravel</ng-template>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Materialize CSS</ng-template>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Semantic UI</ng-template>

        <div>
          <mat-card>
            <mat-card-content>
              UI and Design
            </mat-card-content>
          </mat-card>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-card-content>


<mat-card-content fxHide.xs="true">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Angular</ng-template>

        <div>

          <p>All</p>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel> PHP Laravel</ng-template>

        <div>

          <p>Custom Software</p>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Materialize CSS</ng-template>

        <div>

          <p>Mobile Apps</p>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Semantic UI</ng-template>

        <div>

          <p>UI and Design</p>

        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card-content>
