<div class="jumbotron shadow-sm h pt-4">
  <div class="container">
    <span><h2>Justice Selorm Bruce</h2></span>
    <span fxFlex></span>
    <div fxHide.gt-sm="true" fxShow.sm="true" fxShow.xs="true">
      <mat-menu #appMenu="matMenu">
        <a href="#home" mat-menu-item>Home</a>
        <a href="#services" mat-menu-item>Expirience</a>
        <a href="#Projects" mat-menu-item>Projects</a>
        <a href="#team" mat-menu-item>Skills</a>
        <a href="" mat-menu-item>Work Rpository</a>
        <a href="#Contacts" mat-menu-item>Others</a>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>dehaze</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutGap="35px" fxHide.xs="true" fxHide.sm="true">
      <a routerLink="">Home</a>
      <a routerLink="services">Expirience</a>
      <a routerLink="projects">Projects</a>
      <a routerLink="team">Skills</a>
      <a routerLink="news">Work Rpository</a>
      <a routerLink="contactus">Others</a>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <img mat-card-image [src]="avatar" />
    <h1 style="color: black !important;">Hello there!</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.lt-sm="100" fxFlex.gt-sm="50">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quos est
        pariatur iure ut tempora nesciunt, omnis sit aperiam dolor officia
        repellat adipisci sint? Itaque provident aliquid a libero. Numquam
        ratione illo saepe sed autem enim quod dignissimos necessitatibus sunt
        quo quisquam delectus quam vitae laudantium fugit sit, eveniet
        inventore, possimus facere deleniti iure non omnis similique. Sed et
        autem quas quaerat blanditiis optio, omnis sint. Esse necessitatibus
        beatae voluptatibus. Assumenda necessitatibus voluptatibus illo vitae
        consequuntur corporis ad commodi consequatur?
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <app-work></app-work>
  </div>

  <div class="row">
    <app-projects></app-projects>
  </div>
  <div class="row pb-5">
    <app-skills></app-skills>
  </div>
  <div class="row">
    <app-repository></app-repository>
  </div>
  <div class="row">
    <app-articles></app-articles>
  </div>
</div>

<div class="bg-danger">
  <div class="jumbotron h py-0 bg-danger"></div>
  <div class="jumbotron h py-0 bg-dark"></div>
</div>

<router-outlet></router-outlet>
