<mat-toolbar class="tool-bar-bgcolor"> </mat-toolbar>
<mat-toolbar class="tool-bar-bgcolor-main">
  <div class="container">
    <span class="style-initials">
     Justice Selorm Bruce
    </span>
  </div>
</mat-toolbar>
<div class="jumbotron shadow-sm">
  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <img mat-card-image [src]="avatar" />
    <h1 style="color: black !important;">Hello there!</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.lt-sm="100" fxFlex.gt-sm="50">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quos est
        pariatur iure ut tempora nesciunt, omnis sit aperiam dolor officia
        repellat adipisci sint? Itaque provident aliquid a libero. Numquam
        ratione illo saepe sed autem enim quod dignissimos necessitatibus sunt
        quo quisquam delectus quam vitae laudantium fugit sit, eveniet
        inventore, possimus facere deleniti iure non omnis similique. Sed et
        autem quas quaerat blanditiis optio, omnis sint. Esse necessitatibus
        beatae voluptatibus. Assumenda necessitatibus voluptatibus illo vitae
        consequuntur corporis ad commodi consequatur?
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <app-work></app-work>
  </div>

  <div class="row">
    <app-projects></app-projects>
  </div>
  <div class="row pb-5">
    <app-skills></app-skills>
  </div>
  <div class="row">
<app-articles></app-articles>
  </div>
</div>

<router-outlet></router-outlet>
