
.tool-bar-bgcolor{
  background-color:#040D79;
  height: 3vh!important;
  /* box-shadow:10 12px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important; */
}

.tool-bar-bgcolor-main{
  background-color:#0C1BDF;
  height: 5vh!important;
}

.style-initials{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-style:normal;
}

