<mat-card class="">

  <mat-card-title>
 <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
  <img  mat-card-image [src]="avatar">  <h1>Hello there!</h1>
 </div>
  </mat-card-title>

  <mat-card-content class="message-padding">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quos est pariatur iure ut tempora nesciunt, omnis
      sit aperiam dolor officia repellat adipisci sint? Itaque provident aliquid a libero. Numquam ratione illo saepe
      sed autem enim quod dignissimos necessitatibus sunt quo quisquam delectus quam vitae laudantium fugit sit, eveniet
      inventore, possimus facere deleniti iure non omnis similique. Sed et autem quas quaerat blanditiis optio, omnis
      sint. Esse necessitatibus beatae voluptatibus. Assumenda necessitatibus voluptatibus illo vitae consequuntur
      corporis ad commodi consequatur?</p>
  </mat-card-content>
</mat-card>
